@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Lato|Montserrat');

:root{
    font-family: 'Montserrat', sans-serif;
}
body{
    max-width: 860px;
    margin:auto;
 }
*{
    margin:0;
    padding:0;
}
header{
    text-align: center;
    margin:auto;
}
header nav{
    background-color: #6dbab7;
    font-size: 1rem;
}
header nav ul{
    display:flex;
    padding:0;
    list-style-type: none;
    justify-content: space-around;
    align-items:center;
}
header nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    padding:0.2rem;
}
header nav ul li a p{
    display:none;
}
header nav ul li a p:hover{
    text-decoration: underline;
    color: grey;
}
header h1{
    padding:1rem;
    font-size: 1.5rem;
}
main {
    text-align: center;
    margin:auto;
}
/*.country-info {
    background-color: red;
    padding: 10px;
}*/
footer {
    text-align: center;
    margin-bottom:auto;
    font-size:0.8rem;
 }
 
@media (min-width: 550px){
header nav ul li a p{
    display:block;
}
}
.country-info{
    padding: 10px;
    border-color: black;
    border-width: 2px;
}
.country-info img{
    display: block;
    width: 100%;
}

@media(min-width: 550px) {
    main .countries-and-flags {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:10px;

    }
}
@media(min-width: 660px) {
    main .countries-and-flags {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap:20px;

    }
}
@media(min-width: 800px) {
    main .countries-and-flags {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap:50px;

    }
}